<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Boylesports Website Parallel Suite" verbose="1" parallel="classes" thread-count="1">
    <test name="Boylesports Website Tests">
        <classes>
            <class name="runners.TestRunner" />
        </classes>
    </test>
</suite>